# xenium-viewer template
# id: spatial.cooccur
# schema-version: 1
# doc: Squidpy co-occurrence across increasing radii.
# requires: sq, adata, adata_norm
# params: cluster_key:str, interval:int

#--- block main
# Co-occurrence: $cluster_key (interval=$interval)
adata_norm.obs[$cluster_key] = adata.obs[$cluster_key].values
sq.gr.co_occurrence(adata_norm, cluster_key=$cluster_key, interval=$interval)
